<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/cherry.png" type="image/png">
    <title>Cherry's Chatbot</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/css/style.css'/>

	<!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/jquery-1.11.1.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>

	<style>
        body > div > div > div:nth-child(2) > span{
            background: whitesmoke;
            padding: 10px;
            font-size: 21px;
            border-radius: 50%;
        }
        body > div > div > div.msj-rta.macro{
            margin:auto;
            margin-left:1%;
        }
	</style>

</head>

<script>

var me = {};
me.avatar = "/static/img/cherry.png";

var you = {};
you.avatar = "/static/img/user.png";

//-- Clear Chat
resetChat();

//-- Print Messages
insertChat("me", "Hello Tom...", 0);
insertChat("you", "Hi, Pablo", 1500);
insertChat("me", "What would you like to talk about today?", 3500);
insertChat("you", "Tell me a joke",7000);
insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
insertChat("you", "LOL", 12000);
insertChat("me", "Hello Tom...", 14000);
insertChat("you", "Hi, Pablo", 16000);
insertChat("me", "What would you like to talk about today?", 18000);
insertChat("you", "Tell me a joke",20000);
insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 22000);
insertChat("you", "LOL", 24000);
insertChat("me", "Hello Tom...", 26000);
insertChat("you", "Hi, Pablo", 28000);
insertChat("me", "What would you like to talk about today?", 30000);
insertChat("you", "Tell me a joke",32000);
insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 34000);
insertChat("you", "LOL", 36000);

//-- NOTE: No use time on insertChat.

</script>

<body>
	<div class="header">
		<h3 class="title">Cherry</h3>
	</div>
	<div class="frame">
		<ul></ul>
		<div>
			<div class="msj-rta bottom-macro">
				<div class="text text-r" style="background:whitesmoke !important">
					<input id="mytext" class="mytext" placeholder="Type a message"/>
				</div>

			</div>
			<div style="padding:10px;" onclick="sendMsj()">
				<span class="glyphicon glyphicon-share-alt"></span>
			</div>
		</div>
	</div>
</body>

</html>
